@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  	outline: none;
  	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	margin: 0;
	padding-right: 0;
}

#section_1 {
	background-image: url('http://s-pb.in/images/phocagallery/marmalade-------c-7da2/DSC00883.JPG');
	background-size:cover;
	background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;
}

.top-menu {
	float: left;
	margin-top: 10px;
}

.hline {
	float: right;
}

.top-menu ul {
	list-style: none;
	font-size: 18px;
	width: 100%;
	border-bottom: 1px solid grey;
	padding-bottom: 5px;

}

.top-menu ul li {
	display: inline-block;
	padding: 10px;
}

.top-menu ul li:last-child {
	float: right;
}

.top-menu ul li a {
	color: white;
	text-decoration: none;
	padding: 15px;
}

.top-menu a:hover {
	color: #FFCE3E;
}

.phone {
	margin-top: 21px;
	float: right;
	margin-left: 10px;
}

.phone p {
	color: white;
	font-size: 17px;
}

.ftravel {
	margin: 0 auto;
	text-align: center;
	padding-top: 200px;
}

.ftravel h1 {
	font-size: 70px;
	color: white;
}

.ftravel p {
	color: white;
	padding-top: 15px;
	font-size: 20px;
	font-weight: 600;
}

.orng-btn {
	margin-top: 30px;
}
.orng-btn button {
	width: 200px;
	height: 40px;
	background-color: #F6AF29;
	border: 0;
	border-radius: 25px;
	color: white;
	font-size: 17px;
	font-weight: 400;
}

.orng-btn button:hover {
	background-color: #FFCE3E;
}

.orng-btn button:active {
	background-color: #A3A2A7;
}

.p-video {
	color: white;
	padding-top: 160px;
}

.p-video small {
	display: block;
}

svg path {
	fill:#fff;
}

svg circle {
	fill:#666;
}

#section_2 {
	background-color: white;
	margin-top: 100px;
}

.img-block img {
	width: 50px;
	height: 50px;
}

.wtf {
	text-align: center;
}

.row {
	text-align: center;
	margin: 140px;
	padding: 15px;
	margin-bottom: 50px;
}

.img-block {
	cursor: pointer;
}

.img-block h3 {
	padding-bottom: 10px;
}

.img-block img {
	margin-right: 30px;
}

.items {
	transition: all 0.3s;
	padding: 10px;
}

.items p {
	padding-bottom: 20px;
}

.items:hover {
	box-shadow: 0 5px 30px rgba(14, 14, 14, 0.1);
	-webkit-transform: translateY(-10px);
}

.slaids {
	text-align: center;
	margin-bottom: 80px;
}